extends layout

block mainmenu
	header
		.container-fluid
			.container
				.row.small-menu
					.col-md-10
						p Octopus
					.col-md-2
						p Giriş Yap
				.row
					.col-md-12
						.main-menu
							ul
								li
									a Anasayfa
								li
									a Hakkımızda
								li
									a İletişim
								li
									a Banner

block subtitle
	.container
		.row
			h4 Sayfa adı
				
						